[submodule "fdf"]
	path = fdf
	url = git@github.com:hle-hena/fdf.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:hle-hena/ft_printf.git
[submodule "gnl"]
	path = gnl
	url = git@github.com:hle-hena/gnl.git
[submodule "libft"]
	path = libft
	url = git@github.com:hle-hena/libft.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:hle-hena/pipex.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:hle-hena/push_swap.git
[submodule "Minishell"]
	path = Minishell
	url = git@github.com:Jordan05072005/Minishell.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:hle-hena/get_next_line.git
[submodule "CPP"]
	path = CPP
	url = git@github.com:hle-hena/CPP.git
[submodule "philosophers"]
	path = philosophers
	url = git@github.com:hle-hena/philosophers.git
[submodule "cub3d"]
	path = cub3d
	url = git@github.com:hle-hena/cub3d.git
[submodule "minishell_z"]
	path = minishell_z
	url = git@github.com:Rouxsmooth/Minishell.git
